body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 217, 217);
}
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(94, 147, 233);
    padding-top: 30px;
}
a{
    text-decoration: none;
}
.sidebar h1{
    color: white;
    text-align: center;
}
.sidebar ul {

    padding: 0;
    margin: 0;
    text-align: center;
}
.sidebar ul li{
    padding: 10px;
}
.sidebar ul li a{
    color: white;
    padding: 0;
}
.content{
    margin-left: 260px;
}
header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchbar{
    flex: 1;
    margin-left: 20px;
    margin-right: 260px;
}
.searchbar input{
    padding: 4px;
    border: 1px solid black;
    border-radius: 6px;
    width: 100%;
}
.profile{
    border: 2px solid black;
    margin-right: 0;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 20px;
    background-color: rgb(228, 218, 218);
}
.section{
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: white
}
.project-title,
.announce-title{
    font-weight: bold;
}
